name: CI

on:
  - push
  - pull_request

jobs:
  ci:
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    uses: zanminkian/github-actions/.github/workflows/all-in-one.yml@main
    with:
      assets: "assets"
